.card {
  /* height: 350px; */
  /* flex-basis: calc(50% - 30px); */
  border-radius: 25px;
  border: 4px solid black;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.25), 20px 20px 20px rgba(0,0,0,0.22);
}

/* cards container is in app.css */

.card:hover {
  opacity: 0.9;
  /* animation: Card-spin 0.2s linear; */
}

.card-image {
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
  background-size: cover;
  width: 150px;
  height: 250px;
}

.card-name-container {
  text-align: center;
  height: 10%;
  width: 100%;
  border-top: 3px solid black;
  background-color: #010624;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-name {
  margin: 0 auto;
}


/* @keyframes Card-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
