.app {
  display: flex;
  background-color: #345976;
  flex-direction: column;
}

.main {
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
}

/* search container and input field */

.search {
  padding: 10px 3px 5px 3px;
  height: 5vh;
  text-align: center;
}

.search input {
  width: 90%;
  height: 28px;
  font-size: 24px;
  text-align: center;
  border-radius: 15px;
  border: 3px solid black;
}

/* end */

.cards-container {
  z-index: 100;
  height: 45vh;
  overflow: auto;
  white-space: nowrap;
  border: 4px solid black;
  background-color: #345976;
}

.map {
  flex-grow: 1;
  height: 45vh;
  top: 0;
  position: sticky;
  overflow: scroll;
}

