.app {
  display: flex;
}

.main {
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
}

/* search container and input field */

.search {
  padding: 10px;
}

.search input {
  width: calc(100% - 15px);
  height: 40px;
  font-size: 24px;
  text-align: center;
  border-radius: 15px
}

/* end */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.map {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
