.app {
  display: flex;
  background-color: #345976;
  flex-direction: column;
}

.main {
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
}

/* search container and input field */

.search {
  padding: 10px 3px 5px 3px;
  height: 5vh;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #345976;
  z-index: 500;
}

.search input {
  width: 50%;
  height: 28px;
  font-size: 24px;
  text-align: center;
  border-radius: 15px;
  border: 3px solid black;
}

/* end */

.cards-container {
  z-index: 100;
  overflow: auto;
  white-space: nowrap;
  background-color: #345976;
  padding-bottom: 30px;
  height: 40vh;
}

.map {
  flex-grow: 1;
  height: 60vh;
  top: 0;
  position: sticky;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  background-color: #345976;
}

